:root {
  --primary-color: #ececec;
  --secondary-color: #16161d;
  --background-cards-color: #4b4b4f;
  --background-cards-light-color: #808080;
  --navbar-color: #608055;
  --scroll-hover-color: #8ab87a;

  --primary-text-color: #16161d;
  --secondary-text-color: #ececec;

  --primary-text-font: "MuseoModerno", sans-serif;
  --secondary-text-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "MuseoModerno", sans-serif;
  cursor: default;
  background-color: var(--background-cards-color);
  color: #1c1c1a;
  height: 100vh; /* Use viewport height instead of 100% to occupy full screen height */
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #608055;
  box-shadow: 0 0 10px var(--secondary-color);
}

.logo-container img {
  height: 40px;
  width: auto;
  fill: var(--primary-color);
  cursor: pointer;
}

#pianoRollContainer {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

h1 {
  margin-bottom: 20px;
  font-size: 42px;
  color: var(--secondary-text-color);
  padding: 1rem;
  margin: 0;
  background-color: var(--background-cards-color);
  border-bottom: 1px solid var(--primary-color);
}

.piano-roll-svg {
  border: 2px solid var(--secondary-color);
  width: 100%;
}

.piano-roll-card {
  margin-bottom: 10px;
  padding: 10px;
  min-width: 20%;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  background-color: var(--background-cards-light-color);
  color: var(--secondary-text-color);
  box-shadow: 0 0 10px var(--secondary-color);
}

.card-hover:hover {
  transform: scale(1.05);
  transition: 1s;
  box-shadow: 0 0 10px var(--scroll-hover-color);
}

.description {
  margin-top: 10px;
  font-family: var(--secondary-text-font);
}

.right-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  gap: 1rem;
  padding-top: 1rem;
  max-height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
}

.big-card {
  order: -1;
  width: 90%;
  padding: 1rem;
  margin: auto;
}

.small-card {
  width: 80%;
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
}

.left-large {
  width: 100%;
  background-color: var(--background-cards-color);
  padding: 1rem 0;
}

.right-narrow {
  width: 80%;
  margin: auto;
  background-color: var(--background-cards-color);
}

svg {
  width: 100%;
  pointer-events: none;
}

.big-card svg {
  pointer-events: all;
  height: 30rem;
}

.big-card .description {
  font-size: 1.5rem;
}

@media (min-width: 750px) {
  #pianoRollContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
  }

  .left-large {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .right-narrow {
    width: 25%;
    margin: 0;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
  }

  .big-card {
    margin: 0;
  }
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--background-cards-light-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  box-shadow: inset 0 0 5px var(--background-cards-light-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-hover-color);
}
