* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  cursor: default;
  background-color: #f0f0f0;
  color: #1c1c1a;
  height: 100vh; /* Use viewport height instead of 100% to occupy full screen height */
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #154151;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* optional drop shadow */
}

.logo-container img {
  height: 40px;
  width: auto;
  fill: white;
}

#pianoRollContainer {
  display: flex;
}

svg {
  pointer-events: none;
}

h1 {
  margin-bottom: 20px;
  font-size: 42px;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  color: #f0f0f0;
  background-color: #944038;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.piano-roll-svg {
  border: 2px solid #381815;
}

.piano-roll-card {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  width: 20%;
  box-sizing: border-box;
  cursor: pointer;
}

.description {
  margin-top: 10px;
}

.rightColumn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  gap: 1rem;
}

.leftColumn {
  width: auto;
}

.big-card {
  order: -1;
  width: 90%;
}

.small-card {
  width: 90%;
}

.left-large {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.right-narrow {
  width: 20%;
  max-height: 80vh;
  overflow-y: auto;
}
